---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="一覧">
  <ol>
    <li><a href="/dom">DOM取得・操作・追加</a></li>
    <li><a href="/cancelEvent">イベントキャンセル</a></li>
    <li><a href="/arrayManipulation">配列・オブジェクト操作</a></li>
  </ol>
</Layout>
